@import "@/assets/css/index.scss";


@mixin universal() {
  .wrapper {
    overflow: hidden;

    > div:not(:last-child) {
      margin: 40px auto;
    }

    > div:first-child {
      opacity: 0;
      animation: showAnime 1s .2s;
      animation-fill-mode: forwards;
    }

    > div:not(:first-child) {
      opacity: 0;
      animation: showAnime 1s .5s;
      animation-fill-mode: forwards;
    }

    .content {
      background: #FFF;
      box-sizing: border-box;
      margin-bottom: 50px;
      opacity: 0;


      .year {
        color: $FONT_COLOR;
        font: {
          size: 30px;
          weight: bold;
        }
      }

      .dot {
        width: 7px;
        height: 7px;
        background: rgba(0, 0, 0, .3);
        border-radius: 50%;
        transition: background-color .5s;
      }

      .itemWrapper {
        cursor: pointer;
        transition: all .3s;

        > img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        }

      }

      .noTimeLine {
        font-size: 20px;
        width: 155px;
        margin: 0 auto;
        padding-bottom: 50vh;
      }
    }

    .load {
      padding: 40px 0;
      display: flex;
      justify-content: center;
    }

    .loadHide {
      display: none;
    }
  }
}


@media (width>$BREAK_POINT) {
  @include universal;
  .content {
    width: $MAX_WIDTH;
    padding: {
      bottom: 0;
      top: 50px;
      left: 50px;
      right: 50px;
    }

  }
}

@media (width<=$BREAK_POINT) {
  @include universal;
  .wrapper {
    padding: 0 10px;

    .content {
      width: 100%;
      padding: {
        bottom: 0;
        top: 20px;
        left: 20px;
        right: 20px;
      }
    }
  }
}
