@import '@/assets/css/index.scss';

$fontColor: rgba(0, 0, 0, .8);

// 黑暗模式
.markdown-render-dark {
  @include trans();
  background-color: $BACKGROUND_COLOR_DARK !important;
  color: $FONT_COLOR_DARK !important;


  pre {
    .linenumber {
      color: $FONT_COLOR_DARK !important;
    }
  }

  blockquote {
    background-color: #003100;
    border: {
      left: 5px solid #009400;
    }
  }
}


.markdown-render-light {
  @include trans();
  background-color: $BACKGROUND_COLOR !important;
  color: $FONT_COLOR_LIGHT_3 !important;


  pre {
    * {
      background-color: #fafafa !important;
    }

    .linenumber {
      color: $FONT_COLOR_LIGHT_2 !important;
    }
  }

  blockquote {
    //background-color: #eef9fd;
    background-color: #e6f6e6;
    border: {
      left: 5px solid #009400;
    }
  }
}

@mixin syntax-highlighter-code-language-uni {
  @include unSelectable;
  float: left;
  font-size: 14px;
  line-height: 30px;
  height: 100%;
  padding: {
    right: 10px;
    left: 5px;
  }
}

@mixin syntax-highlighter-copy-btn-uni {
  float: left;
  width: 30px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: {
    radius: 5px;
  }
}

@mixin universal() {
  // func-bar-wrapper
  .syntax-highlighter-func-bar-wrapper {
    height: 30px;
    position: absolute;
    top: 17px;
    right: 0;
  }

  // 代码块语言标记
  .syntax-highlighter-code-language-light {
    @include syntax-highlighter-code-language-uni;
    color: rgba(0, 0, 0, .4);
  }

  .syntax-highlighter-code-language-dark {
    @include syntax-highlighter-code-language-uni;
    color: $FONT_COLOR_DARK;
  }

  // copy btn
  .syntax-highlighter-copy-btn-light {
    @include syntax-highlighter-copy-btn-uni;
    color: rgba(0, 0, 0, .4);

    &:hover {
      background-color: #d8e9f6 !important;
      color: $fontColor;
    }
  }

  .syntax-highlighter-copy-btn-dark {
    @include syntax-highlighter-copy-btn-uni;
    color: $FONT_COLOR_DARK;

    &:hover {
      background-color: rgba(255, 255, 255, .2) !important;
      color: $THEME_COLOR;
    }
  }

  .markdown-body {
    line-height: 30px;
    font: {
      family: $FONT_FAMILY_RENDER;
    };

    pre {
      padding: 0;
      margin: 0;
      background-color: transparent;
    }

    h1, h2 {
      &::before {
        content: '';
        display: block;
        float: left;
        height: 22px;
        margin: {
          top: 2px;
          right: 10px;
        }
        width: 4px;
        background-color: #119de4;
        border-radius: 2px;
        box-shadow: 1px 0 2px rgba(17, 157, 228, 0.7);
      }

      padding: 10px 0;
      cursor: pointer;
      transition: color .3s;
      font: {
        size: 20px;
      }
      border: {
        bottom: 1px solid rgba(0, 0, 0, .2);
      };

      &:hover {
        color: $THEME_COLOR;
      }
    }

    li {
      a {
        color: $THEME_COLOR;
        transition: all .2s;
      }
    }

    blockquote {
      padding: {
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 15px;
      }
      border: {
        radius: 5px;
      }
    }
  }
}

@media (min-width: $BREAK_POINT) {
  @include universal;
  .markdown-body {
    font-size: 17px;;

    pre {
      ::-webkit-scrollbar {
        height: 10px;
      }

      code {
        font-size: 14px !important;
      }

      span {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: $BREAK_POINT) {
  @include universal;
  // func-bar-wrapper
  .syntax-highlighter-func-bar-wrapper {
    height: 20px;
  }

  // 代码块语言标记
  .syntax-highlighter-code-language {
    line-height: 20px;
    padding: 0 5px;
    font-size: 12px;
  }
  // copy btn
  .syntax-highlighter-copy-btn {
    width: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .markdown-body {
    line-height: 18px;
    font: {
      size: 12px;
    };


    pre {
      ::-webkit-scrollbar {
        height: 5px;
      }

      code {
        font-size: 12px !important;
      }

      span {
        font-size: 12px !important;
      }
    }

    li {
      &::marker {
        font-size: 12px;
      }
    }
  }
}




