@import '@/assets/css/index.scss';

$fontColor: rgba(0, 0, 0, .8);

.markdown-body {
  color: $fontColor;
  line-height: 1.3vw;
  font: {
    size: 1.1vw;
    family: Source_Han_Sans_SC_Normal;
  };

  pre {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  h1 {
    padding: 10px 0;
    cursor: pointer;
    transition: color .3s;
    font: {
      size: 1.3vw;
      //weight: bold;
    }
    border: {
      bottom: 1px solid rgba(0, 0, 0, .2);
    };

    //&::before {
    //  content: " # "
    //}

    &:hover {
      color: $THEME_COLOR;
    }
  }

  li {
    a {
      color: $THEME_COLOR;
      transition: all .2s;
    }
  }

  blockquote {
    padding: 10px;
    background-color: #eef9fd;
    border: {
      left: 5px solid #4cb3d4;
      radius: 5px;
    }
  }
}

