@import '@/assets/css/index.scss';

$fontColor: rgba(0, 0, 0, .8);

.markdown-body {
  color: $fontColor;
  line-height: 40px;
  font: {
    size: 20px;
    family: Source_Han_Sans_SC_Normal;
  };

  pre {
    padding: 0;
    margin: 0;
    background-color: transparent;

    * {
      background-color: #ecf4fa !important;
    }
  }

  h1 {
    padding: 10px 0;
    cursor: pointer;
    transition: color .3s;
    font: {
      size: 24px;
    }
    border: {
      bottom: 1px solid rgba(0, 0, 0, .2);
    };

    &:hover {
      color: $THEME_COLOR;
    }
  }

  li {
    &::marker {
      font-size: 15px;
    }

    a {
      color: $THEME_COLOR;
      transition: all .2s;
    }
  }

  blockquote {
    padding: 10px;
    background-color: #eef9fd;
    border: {
      left: 5px solid #4cb3d4;
      radius: 5px;
    }
  }
}

