$THEME_COLOR: #5c92d1;

// 正常模式
$FONT_COLOR: #2c3e50;
$BACKGROUND_COLOR: #FFF;
// 黑暗模式
$FONT_COLOR_DARK: #9e9e9e;
$BACKGROUND_COLOR_DARK: #0d1117;
$BACKGROUND_COLOR_DARK_2: #161b22;
$BACKGROUND_COLOR_DARK_3: #393d43;


@mixin trans() {
  transition-property: background-color, color;
  transition-duration: .3s;
}

.dark {
  @include trans();
  background-color: $BACKGROUND_COLOR_DARK;
  color: $FONT_COLOR_DARK;
}

.dark-2 {
  @include trans();
  background-color: $BACKGROUND_COLOR_DARK_2;
  color: $FONT_COLOR_DARK;
}

.dark-3 {
  @include trans();
  background-color: $BACKGROUND_COLOR_DARK_3;
  color: $FONT_COLOR_DARK;
}

.dark-3-onforce {
  @include trans();
  background-color: $BACKGROUND_COLOR_DARK_3 !important;
  color: $FONT_COLOR_DARK !important;
}

.light {
  @include trans();
  background-color: $BACKGROUND_COLOR;
  color: $FONT_COLOR;
}

.light-1 {
  @include trans();
  background-color: rgba(0, 0, 0, .1);
  color: $FONT_COLOR;
}

.dark-font {
  @include trans();
  color: $FONT_COLOR_DARK;
}

.dark-back-2-onforce-no-trans {
  //@include trans();
  background-color: $BACKGROUND_COLOR_DARK_2 !important;
}

// hover时颜色加深或变亮
.hoverDark {
  &:hover {
    filter: brightness(150%); // 变亮
  }
}

.hoverLight {
  &:hover {
    filter: brightness(80%);
  }
}

.light-font {
  @include trans();
  color: $FONT_COLOR;
}

$FONT_COLOR_2: rgba(0, 0, 0, .4);
$TOP_HEADER_H: 50px;
$GRADE_TOP: 999;
$GRADE_MIDDLE: 500;
$GRADE_BOTTOM: 100;
$BREAK_POINT: 768px;
$MAX_WIDTH: 1100px;

@mixin onHover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  position: relative;
  z-index: $GRADE_TOP;
}


// 全局浮现动画效果
// anime
.showAnime {
  opacity: 0;
  animation: showAnime .5s .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.show-anime-delay-1s {
  opacity: 0;
  animation: showAnime 1s 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.show-anime-no-delay {
  opacity: 0;
  animation: showAnime .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.hideAnime {
  opacity: 1;
  animation: hideAnime .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes showAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100px);
    display: none;
  }
}

@mixin unSelectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 加边框（调试用）
@mixin bord {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

// 移入改变字体颜色
@mixin changeColor {
  cursor: pointer;
  &:hover {
    color: $THEME_COLOR;
  }
  transition: color 0.3s;
}

// scrollbar设置需要放在其父容器内
@mixin setScrollBar($width: 0.5vw) {
  ::-webkit-scrollbar {
    width: $width;
  }
}

// 动画条
@mixin animationBar($final_width: 100%) {
  &:hover {
    .bar {
      width: $final_width;
      margin-left: 0;
    }
  }

  .bar {
    width: 0;
    height: 2px;
    background-color: $THEME_COLOR;
    margin: {
      top: 5px;
      left: 50%; // 设一个margin-left，让其也随着过渡，这样就能保证从中间开始过渡
    }
    transition-property: width, margin-left;
    transition-duration: 0.3s;
  }
}

// box阴影
@mixin boxShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  transition: box-shadow 0.3s;
}

// 设置背景图片样式
@mixin backgroundImgStyle($radius:50%,$size:cover) {
  background: {
    size: $size;
    repeat: no-repeat;
  };
  border: {
    radius: $radius;
  };
}
