$THEME_COLOR: #5c92d1;
$FONT_COLOR: #666666;

@mixin unSelectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// scrollbar设置需要放在其父容器内
@mixin setScrollBar($width:5px) {
  ::-webkit-scrollbar {
    width: $width;
  }
}

// 动画条
@mixin animationBar($final_width:100%) {

  &:hover {
    .bar {
      width: $final_width;
      margin-left: 0;
    }
  }

  .bar {
    width: 0;
    height: 2px;
    background-color: $THEME_COLOR;
    margin: {
      top: 5px;
      left: 50%; // 设一个margin-left，让其也随着过渡，这样就能保证从中间开始过渡
    }
    transition-property: width, margin-left;
    transition-duration: 0.3s;
  }
}
