$THEME_COLOR: #5c92d1;
$FONT_COLOR: #666666;

@mixin unSelectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// scrollbar设置需要放在其父容器内
@mixin setScrollBar($width:5px) {
  ::-webkit-scrollbar {
    width: $width;
  }
}
