@import '@/assets/css/index.scss';

@mixin setAnime {
  animation: test;
  animation-duration: .5s;
}

@mixin total($height,$overflow) {
  height: $height;
  width: 100%;
  position: fixed;
  top: $TOP_HEADER_H;
  overflow: $overflow;
  background-color: #FFF;
  transition: height .2s;

  > div {
    width: 50%;
    margin: 0 auto;
  }

  .wrapper {
    height: 600px;

    .menuWrapper {
      margin: {
        top: 40px;
      };

      > div {
        &::after {
          content: "";
          display: block;
          margin: 20px 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }

    .introWrapper {
      padding-bottom: 20vh;
    }

  }
}

// 菜单
.menuOnOpen {
  @include total(90vh, auto);
  //@include total(anim1)

}

.menuOnClose {
  //@include total(anim2)
  @include total(0, hidden);
}

@keyframes anim2 {
  from {
    height: 300px;
    //background-color: #FFF;
  }
  to {
    height: 0;
    //background-color: transparent;
  }
}

