@import '@/assets/css/index.scss';

@mixin total($overflow) {
  overflow: $overflow;
  height: 0;
  width: 100%;
  position: fixed;
  top: $TOP_HEADER_H;
  transition: height .2s;
  > div {
    width: 50%;
    margin: 0 auto;
  }

  .wrapper {
    height: 600px;

    .menuWrapper {
      margin: {
        top: 40px;
      };

      .line {
        margin: 20px 0;
        width: 100%;
        height: 1px;
      }

    }
  }
}

.lineDark {
  background-color: rgba(255, 255, 255, .1);
}

.lineLight {
  background-color: rgba(0, 0, 0, .1);
}

// 菜单
.menuOnOpen {
  @include total(auto);

}

.menuOnClose {
  @include total(hidden);
}
