@import "@/assets/css/index.scss";

.wrapper {
  display: flex;
  justify-content: center;
  height: 0;
  transition: height .5s;
  overflow-y: auto;

  > div {
    width: 900px;

    .options {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      > div {
        width: 60px;
        margin: 0 20px;
        cursor: pointer;
        transition: all .3s;
        text-align: center;

        &:hover {
          color: $THEME_COLOR;
        }

        @include animationBar();
      }

    }
  }

  .paginate {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

}

@keyframes anime {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}
