@import "@/assets/css/index.scss";
/* wrapper for the progress bar */
.progressBar {
  width: 100%;
  height: 2px;
  overflow: hidden;
}

/* the progress bar itself */
.progress {
  height: 100%;
  background-color: $THEME_COLOR;
  width: 0;
  animation-name: loading;
  animation-duration: .7s;
}

/* define animation keyframes */
@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 15%;
  }
  /* pause at 25% */
  90% {
    width: 25%;
  }
  /* still paused */
  100% {
    width: 100%;
  }
}