@import "@/assets/css/index.scss";

@mixin universal() {
  .wrapper {
    @include unSelectable;
    color: rgba(0, 0, 0, .5);

    > div {
      cursor: pointer;
      float: left;
      padding: 3px;

    }

    .author {
      transition: all 0.3s;

      &:hover {
        color: $THEME_COLOR;
      }
    }


    .like {
      float: right;
      margin-right: 5px;
    }

    .collection {
      float: right;
    }

  }
}

@media (max-width: $BREAK_POINT) {
  @include universal;
  .wrapper {
    font: {
      size: 12px;
    }

    > div {
      > span {
        font-size: 13px;
      }
    }

    .classification {
      padding: {
        left: 2px;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .tag {
        height: 18px;
        line-height: 18px;
        font-size: 13px;
      }
    }

    .like {
      float: right;
      margin-right: 5px;
    }

    .collection {
      float: right;
    }
  }
}

@media (min-width: $BREAK_POINT) {
  @include universal;
  .wrapper {
    font: {
      size: 18px;
    }

    > div {
      > span {
        font-size: 18px;
        margin-right: 6px;
      }
    }

    .classification {
      .tag {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }
}