@import "@/assets/css/index.scss";

.wrapper {
  @include unSelectable;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  .leftWrapper, .rightWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .leftWrapper {
    > div {
      > span {
        display: block;
        float: left;
      }
    }

    .tag {
      font-weight: 600;
    }
  }

  .rightWrapper {
    > div {
      cursor: pointer;

      > span {
        display: block;
        float: left;
      }
    }
  }

  .tag {
    padding: 0 3px;
  }
}

.dark {
  @include trans();
  color: $FONT_COLOR_DARK;
}

.light {
  @include trans();
  color: #666;
}


@media (width > $BREAK_POINT) {
  .leftWrapper {
    > div {
      font-size: 16px;
      line-height: 18px;
      padding: 0 3px;

      > span {
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        padding-right: 5px;
      }
    }

    .time {
      > span {
        font-size: 16px;
      }
    }
  }


  .rightWrapper {
    > div {
      > span {
        padding: 0 2px;
        height: 18px;
        line-height: 18px;
      }

      > span:first-child {
        font-size: 16px;
      }
    }

    .collection {
      > span:last-child {
        font-size: 13px;
      }
    }
  }
}

@media (width <= $BREAK_POINT) {
  .leftWrapper {
    > div {
      font-size: 12px;
      line-height: 14px;
      padding: 0 2px;

      > span {
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        padding-right: 2px;
      }
    }

    .time {
      > span {
        font-size: 13px;
      }
    }
  }


  .rightWrapper {
    > div {
      > span {
        padding: 0 2px;
        height: 14px;
        line-height: 14px;
      }

      > span:first-child {
        font-size: 13px;
      }
    }

    .collection {
      > span:last-child {
        font-size: 12px;
      }
    }
  }
}