@import "@/assets/css/index.scss";
@import "@/pages/MainPage/mixin.scss";

.wrapper {
  @include setWrapper();

  .content {
    padding: {
      top: 3vh;
      right: 7vw;
      left: 7vw;
    }
    height: 95vh;
    overflow-y: auto;

    .inputBox {
      width: 100%;
      padding: {
        top: 2vw;
      }
      // antd span
      > span:first-child {
        outline: none;
        border: none;
        box-shadow: none;
      }

      > div {
        width: 20vw;
        margin-top: 2vh;

        > div {
          border: none !important;
          box-shadow: none !important;
        }

        span {
          font-size: 1.2vw !important;
        }
      }
    }

    .editor {
      height: 60vh;
    }

    .submitBtn {
      margin: 2vw 0.5vw;

      > button {
        margin-right: 1vw
      }
    }
  }
}

