@import "@/assets/css/index.scss";
@import "@/components/Comment/var.scss";

@mixin likesUni {
  @include unSelectable;
  cursor: pointer;
  float: left;
  margin: {
    right: 2px;
  }
  font: {
    size: 22px;
  }
}

.wrapper {
  width: 100%;
  color: $FONT_COLOR;
  position: relative;

  .infoWrapper {
    .avatar {
      @include backgroundImgStyle;
      float: left;
      width: 50px;
      height: 50px;
      border: 1px solid rgba(0, 0, 0, .1);
      margin: {
        right: 10px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;

      // 左边info
      .infoBox {
        .username {
          color: $THEME_COLOR;
          float: left;
          font: {
            size: 20px;
            weight: bold;
          }
          margin: {
            right: 5px;
          }
        }

        .tags {
          float: left;
          margin: {
            top: 1px;
          }
        }

        .time {
          float: left;
          line-height: 22px;
          font-size: 14px;
          color: $FONT_COLOR_2;
        }
      }

      // 右边点赞区
      .likesWrapper {
        float: right;

        .likes {
          @include likesUni;

          &:hover {
            color: $THEME_COLOR;
          }
        }

        .likesOnChosen {
          @include likesUni;
          color: #ff0000;
        }

        .likesNum {
          float: left;
          margin: {
            right: 2px;
          }
          font: {
            size: 20px;
          }
        }
      }
    }

    .signature {
      display: flex;
      line-height: 20px;
      font-size: 14px;
      color: $FONT_COLOR_2;
      margin-top: 5px;
    }
  }


  .comment {
    width: 80%;
    max-height: $COMMENT_H;
    word-break: break-all;
    overflow: auto;
    font: {
      size: 14px;
    }
    line-height: 20px;
    padding: {
      top: 20px;
    }
    margin: {
      left: 60px;
    }
  }
}