.noneMenu {
  padding: 10px 20px;
}

.editInputWrapper, .addInputWrapper {
  height: 0;
  overflow: hidden;
  transition: height .3s;
  .selectBox {
    padding: {
      top: 10px;
      left: 20px;
    }
  }
}

.editTagWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;

  .addTagBtn {
    margin-left: auto;
  }

  .editTagBtn {
    margin-right: 20px;
  }

}