@import "@/assets/css/index.scss";


@mixin universal() {
  .footer {
    height: $TOP_HEADER_H;
    background-color: #FFF;
    @include unSelectable;

    > div:first-child {
      .ICP, .github {
        cursor: pointer;
        color: $THEME_COLOR;
      }

      .icon {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $BREAK_POINT) {
  @include universal;
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .ICP, .protocol {
      font-size: 12px;
    }

    .github {
      font: {
        size: 14px;
      }
    }
  }
}

@media (min-width: $BREAK_POINT) {
  @include universal;
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .ICP {
      font-size: 16px;
    }

    .github {
      font: {
        size: 18px;
      }
    }

    .protocol {
      font: {
        size: 18px;
      }
    }
  }
}