.loading {
  animation: load 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes load {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}