@import "@/assets/css/index.scss";

.wrapper {
  > div {
    height: 26px;
    line-height: 26px;
  }

  // 初始化
  #blog-toc-item-0 {
    border: {
      left: 2px solid $THEME_COLOR;
    };

    > a {
      color: $THEME_COLOR
    }
  }

  .item {
    margin: {
      left: 10px;
    }
    padding: {
      left: 15px;
    }
    border: {
      left: 2px solid rgba(0, 0, 0, .05);
    };
    transition: all .7s;

    > a {
      @include unSelectable;
      text-decoration: none;
      color: rgba(0, 0, 0, .4);
      cursor: pointer;
      font: {
        size: 14px;
      }
    }
  }

  .tocHeader {
    @include unSelectable;
    margin: {
      bottom: 10px;
      left: 10px;
    }

    > span:first-child {
      font: {
        size: 16px;
        weight: bold;
      }
    }

    > span:last-child {
      font: {
        size: 14px;
      }
    }
  }

}