.topHeader {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  // 内部导航位置
  .leftNav {
    display: flex;
    justify-content: space-between;
  }
}
