@import '@/assets/css/index.scss';

#top-header {
  width: 100%;
  height: $TOP_HEADER_H;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  // 字体不可选中
  @include unSelectable;
}
