@font-face {
  font-family: "iconfont"; /* Project id 4014265 */
  src: url('iconfont.woff2?t=1690970223352') format('woff2'),
       url('iconfont.woff?t=1690970223352') format('woff'),
       url('iconfont.ttf?t=1690970223352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-githubb:before {
  content: "\e63b";
}

.icon-moon:before {
  content: "\e62c";
}

.icon-sun:before {
  content: "\e655";
}

.icon-iconfontyouhuiquan:before {
  content: "\e627";
}

.icon-download:before {
  content: "\e66e";
}

.icon-photo:before {
  content: "\e612";
}

.icon-message-comments:before {
  content: "\e82e";
}

.icon-jiqixuexi:before {
  content: "\e65f";
}

.icon-zifuchuanshujuji:before {
  content: "\e6bd";
}

.icon-shuzu:before {
  content: "\11ce7";
}

.icon-copy:before {
  content: "\e706";
}

.icon-mongodb:before {
  content: "\e63f";
}

.icon-ziyuan:before {
  content: "\e625";
}

.icon-html5:before {
  content: "\e602";
}

.icon-css3:before {
  content: "\e6a8";
}

.icon-nodejs:before {
  content: "\e989";
}

.icon-git:before {
  content: "\e61b";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-react:before {
  content: "\ec77";
}

.icon-webpack:before {
  content: "\ed0b";
}

.icon-javascript:before {
  content: "\e6f7";
}

.icon-typescript:before {
  content: "\ecef";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-rocket:before {
  content: "\e7d9";
}

.icon-telegram:before {
  content: "\e731";
}

.icon-twitter-circle-fill:before {
  content: "\e88a";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-document:before {
  content: "\e63e";
}

.icon-fenlei:before {
  content: "\e609";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-13:before {
  content: "\e640";
}

.icon-edit:before {
  content: "\e624";
}

.icon-jiahao:before {
  content: "\e603";
}

.icon-zengjiatianjiajiahao:before {
  content: "\e62a";
}

.icon-lajitong:before {
  content: "\e604";
}

.icon-bianji:before {
  content: "\e601";
}

.icon-qq1:before {
  content: "\e66a";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-steam:before {
  content: "\e686";
}

.icon-2:before {
  content: "\e623";
}

.icon-tuding:before {
  content: "\e637";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-user-:before {
  content: "\e72e";
}

.icon-rilixuanzhong:before {
  content: "\e632";
}

.icon-aixin_shixin:before {
  content: "\eca2";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-biaoqing:before {
  content: "\e618";
}

.icon-note:before {
  content: "\e896";
}

.icon-star:before {
  content: "\e7df";
}

.icon-daima:before {
  content: "\e60e";
}

.icon-home:before {
  content: "\e600";
}

