@font-face {
  font-family: "iconfont"; /* Project id 4014265 */
  src: url('iconfont.woff2?t=1681725545719') format('woff2'),
       url('iconfont.woff?t=1681725545719') format('woff'),
       url('iconfont.ttf?t=1681725545719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq1:before {
  content: "\e66a";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-steam:before {
  content: "\e686";
}

.icon-2:before {
  content: "\e623";
}

.icon-tuding:before {
  content: "\e637";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-user-:before {
  content: "\e72e";
}

.icon-rilixuanzhong:before {
  content: "\e632";
}

.icon-aixin_shixin:before {
  content: "\eca2";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-biaoqing:before {
  content: "\e618";
}

.icon-note:before {
  content: "\e896";
}

.icon-star:before {
  content: "\e7df";
}

.icon-daima:before {
  content: "\e60e";
}

.icon-home:before {
  content: "\e600";
}

