@font-face {
  font-family: "iconfont"; /* Project id 4014265 */
  src: url('iconfont.woff2?t=1681441595722') format('woff2'),
       url('iconfont.woff?t=1681441595722') format('woff'),
       url('iconfont.ttf?t=1681441595722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-note:before {
  content: "\e896";
}

.icon-star:before {
  content: "\e7df";
}

.icon-daima:before {
  content: "\e60e";
}

.icon-home:before {
  content: "\e600";
}

