@import "@/assets/css/index.scss";


$BORDER_BOTTOM_COLOR: rgba(0, 0, 0, .2);
$BORDER_BOTTOM_COLOR_DARK: rgba(255, 255, 255, .2);
// 黑暗模式
@mixin setBorderLight {
  border: none;
  border-bottom: 1px solid $BORDER_BOTTOM_COLOR;
  background-color: $BACKGROUND_COLOR;
  color: $FONT_COLOR;
}

@mixin setBorderDark {
  border: none;
  border-bottom: 1px solid $BORDER_BOTTOM_COLOR_DARK;
  background-color: $BACKGROUND_COLOR_DARK;
  color: $BORDER_COLOR_DARK;
}

.dark {
  .mainInput {
    > div, > input {
      @include setBorderDark;
    }
  }

  .otherInput {
    > div {
      > div, > input {
        @include setBorderDark;
      }
    }

  }
}

.light {
  .mainInput {
    > div, > input {
      @include setBorderLight;
    }
  }

  .otherInput {
    > div {
      > div, > input {
        @include setBorderLight;
      }
    }

  }
}


@mixin set {
  display: flex;
  justify-content: flex-start;
  margin: 15px auto;

  &:hover > div, &:hover > input {
    color: $THEME_COLOR;
    border-color: $THEME_COLOR;
  }

  > div {
    @include trans();
  }

  > input {
    @include trans();
    cursor: default;
    width: 100%;
    display: block;
    outline: none;
    font: {
      size: 16px;
    }

    &:focus {
      color: $THEME_COLOR;
      border-color: $THEME_COLOR;
    }
  }
}

.wrapper {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;

  > div {
    padding: 0 20px;
  }

  .title {
    margin-top: 15px;
  }

  .form {

    @include trans();

    .mainInput {
      @include set;
    }

    .otherInput {
      height: 0;
      overflow: hidden;
      transition: height .3s;

      > div {
        @include set;
      }

    }

  }
}
