@import "@/pages/MainPage/mixin.scss";

@include setContent();

@mixin universal() {
  .main {

    .blog {
      min-height: 100vh;
      margin: {
        right: 20px;
      }

      .breadCrumb {
        @include unSelectable;
        padding: 3vh 0;

        li {
          font-size: 20px;

          svg {
            height: 20px;
            width: 20px;
          }
        }

        li:not(:last-child) {
          span {
            color: $THEME_COLOR;
          }
        }
      }

      .info {
        padding: {
          bottom: 5vh;
        }

        .title {
          font-size: 35px;
          font-family: sans-serif;
        }

        .blogInfo {
          margin: {
            top: 3vh;
          }
        }

      }

      .blogEdit {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;

        // 左边编辑和删除
        > div:first-child {
          color: $THEME_COLOR;

          > div {
            cursor: pointer;
            padding: 3px 0;
            font: {
              size: 14px;
            }

            .editPageBtn {
              font-size: 12px;
              padding-left: 3px;
            }

            .delPageBtn {
              font-size: 15px;
            }
          }

          > div:last-child > span:last-child {
            padding-left: 2px;
          }
        }

        // 右边信息
        > div:last-child {
          color: #526e89;

          > div {
            text-align: end;
            font: {
              size: 14px;
            }
            padding: 3px 0;

            span {
              color: $FONT_COLOR;
            }
          }
        }
      }

      .comment {
        padding: 5vh 2vw;
      }
    }
  }
}

// 媒体查询
// >1000
@media (min-width: 1000px) {
  @include universal;
  .main {
    > div {
      float: left;
    }

    .blog {
      width: 65%;
    }

    .toc {
      position: sticky;
      top: 10vh;
    }
  }

}

@media (max-width: 1000px) {
  @include universal;
  .toc {
    display: none;
  }

  .main {
    .blog {
      width: 100%;
      padding: 0 2vw;

      .breadCrumb {
        padding: 2vh 0;

        li {
          font-size: 16px;

          svg {
            height: 16px;
            width: 16px;
          }
        }
      }

      .info {
        padding: {
          bottom: 2vh;
        }

        .title {
          font-size: 30px;
        }
      }

    }
  }
}

.showAnime {
  animation-name: showAnime;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes showAnime {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

