@import "@/assets/css/index.scss";
@import "../mixin.scss";

@mixin universal() {
  .wrapper {
    @include setScrollBar(.5vw);
    @include setTop();
    overflow-x: hidden;
    overflow-y: auto;
    //height: 0;
    //transition: height .5s;

    .backgroundPhoto {
      animation: showAnime .5s;
      width: 100%;
      position: relative;
      @include backgroundImgStyle(0);
      overflow: hidden;

      .homeTagWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font: {
          family: cursive;
        }

        .homeTag {
          margin: 10px 0;
          font: {
            size: 2.5vw;
            weight: bolder;
          }
        }

        > div:last-child {
          font-size: 2vw;
        }
      }

    }

    .main {
      display: flex;
      justify-content: center;
      min-height: 100vh;

      > div {
        min-height: 100vh;
        padding: 5vh 0;
      }

      .content {
        margin: 0 20px;
        width: 900px;

        .blogList, .paginate {
          animation: showAnime .5s;
        }

        .blogList {
          min-height: 100vh;
        }

        .paginate {
          display: flex;
          justify-content: space-around;
        }
      }

      .sider {
        width: 320px;
        position: relative;

        > div {
          position: sticky;
          top: 10vh;

          > div:last-child {
            margin-top: 2vh;
          }
        }
      }
    }

    .mobileMenu {
      @include mobileMenu();
    }
  }
}

@media (max-width: $BREAK_POINT) {
  @include universal;
  .backgroundPhoto {
    height: 200px;

    .homeTagWrapper {
      .homeTagIcon {
        margin-top: 5vh;
        width: 50px;
        height: 50px;
        @include backgroundImgStyle(0);
      }
    }
  }
}

@media (min-width: $BREAK_POINT) {
  @include universal;
  .backgroundPhoto {
    height: 95vh;

    .homeTagWrapper {
      .homeTagIcon {
        margin-top: 25vh;
        width: 10vw;
        height: 10vw;
        @include backgroundImgStyle(0);
      }
    }
  }

  .mobileMenu {
    display: none;
  }
}




