@import "@/assets/css/index.scss";

.wrapper {
  .backWhite {
    width: 100%;
    height: $TOP_HEADER_H;
    background-color: #fff;
  }

  .backgroundPhoto {
    width: 100%;
    height: 95vh; // vh为当前视口的高度单位，1vh为1%
    position: relative;
    @include backgroundImgStyle(0);
    overflow: hidden;

    .homeTagWrapper {
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      margin-top: 150px;

      > div {
        margin: 0 auto;
      }

      .homeTagIcon {
        width: 200px;
        height: 200px;
        @include backgroundImgStyle(0);
      }

      .homeTag {
        width: 100%;
        margin: 10px 0;
        font: {
          size: 30px;
          weight: bolder;
        }
      }

      > div:last-child {
        font-size: 24px;
      }
    }

  }

  .backgroundPhotoMobile {
    width: 100%;
    height: 25vh; // vh为当前视口的高度单位，1vh为1%
    position: relative;
    @include backgroundImgStyle(0, cover);

    .homeTagWrapper {
      width: 40vw;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;


      .homeTagIcon {
        height: 15vh;
        @include backgroundImgStyle(0);
      }

      .homeTag {
        font: {
          size: 16px;
          weight: bolder;
        }
      }

      > div:last-child {
        font-size: 16px;
      }
    }

  }

}



