@import "@/assets/css/index.scss";
@import "../mixin.scss";

.wrapper {
  @include setScrollBar(.5vw);
  @include setTop();
  overflow-x: hidden;
  overflow-y: auto;
  height: 0;
  transition: height .5s;

  .backgroundPhoto {
    width: 100%;
    height: 95vh; // vh为当前视口的高度单位，1vh为1%
    position: relative;
    @include backgroundImgStyle(0);
    overflow: hidden;

    .homeTagWrapper {
      width: 100%;
      text-align: center;
      //color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      margin-top: 25vh;

      > div {
        margin: 0 auto;
      }

      .homeTagIcon {
        width: 10vw;
        height: 10vw;
        @include backgroundImgStyle(0);
      }

      .homeTag {
        width: 100%;
        margin: 10px 0;
        font: {
          size: 2.5vw;
          weight: bolder;
        }
      }

      > div:last-child {
        font-size: 2vw;
      }
    }

  }

  .backgroundPhotoMobile {
    width: 100%;
    height: 200px;
    // vh为当前视口的高度单位，1vh为1%
    position: relative;
    @include backgroundImgStyle(0);

    .homeTagWrapper {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;


      .homeTagIcon {
        width: 50px;
        height: 50px;
        margin: 30px auto;
        @include backgroundImgStyle(0, contain);
      }

      .homeTag {
        font: {
          size: 2vw;
          weight: bolder;
        }
      }

      > div:last-child {
        font-size: 2vw;
      }
    }

  }

  .main {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    > div {
      min-height: 100vh;
      padding: 5vh 0;
    }

    .content {
      margin: 0 20px;
      width: 900px;

      .paginate {
        display: flex;
        justify-content: space-around;
      }
    }

    .sider {
      width: 320px;
      position: relative;

      > div {
        position: sticky;
        top: 10vh;

        > div:last-child {
          margin-top: 2vh;
        }
      }
    }
  }
}



