.back-white {
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.background-photo {
  width: 100%;
  height: 95vh; // vh为当前视口的高度单位，1vh为1%
  position: relative;
  background: {
    image: url('../../../assets/images/home.jpg');
    repeat: no-repeat;
    size: cover;
  }

  .home-tag-wrapper {
    width: 380px;
    height: 50px;
    min-width: 380px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top:10vh;
    margin:auto;
    font: {
      family: 'Smiley_Sans_Oblique';
      size: 20px;
    }
    .home-tag-icon {
      width: 100%;
      height: 300px;
      background: {
        image: url('../../../assets/images/left-nav-icon.png');
        repeat: no-repeat;
        size: cover;
      }
    }
    .home-tag {
      margin: 20px 0;
      font: {
        size: 40px;
      }
    }
  }
}
