@import "@/assets/css/index.scss";

.wrapper {
  .backgroundPhoto {
    width: 100%;
    height: 95vh; // vh为当前视口的高度单位，1vh为1%
    position: relative;
    @include backgroundImgStyle(0);
    overflow: hidden;

    .homeTagWrapper {
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      margin-top: 7vw;

      > div {
        margin: 0 auto;
      }

      .homeTagIcon {
        width: 20vw;
        height: 20vw;
        @include backgroundImgStyle(0);
      }

      .homeTag {
        width: 100%;
        margin: 10px 0;
        font: {
          size: 2vw;
          weight: bolder;
        }
      }

      > div:last-child {
        font-size: 1.5vw;
      }
    }

  }

  .backgroundPhotoMobile {
    width: 100%;
    height: 200px;
    // vh为当前视口的高度单位，1vh为1%
    position: relative;
    @include backgroundImgStyle(0, cover);

    .homeTagWrapper {
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;


      .homeTagIcon {
        width: 100px;
        height: 100px;
        margin: 10px auto;
        @include backgroundImgStyle(0);
      }

      .homeTag {
        font: {
          size: 2vw;
          weight: bolder;
        }
      }

      > div:last-child {
        font-size: 2vw;
      }
    }

  }

}



