@import '@/assets/css/index.scss';

.wrapper {
  width: 100%;

  .edit {
    width: 100%;

    > div {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.05);

      &:hover {
        color: $THEME_COLOR;
      }
    }

    .editBtn {
      border: {
        radius: 3px 3px 0 0;
      }
    }
  }

  .menu {
    @include unSelectable;

    ul {
      background-color: #FFF !important;
    }

    li {
      font-size: 16px;
      color: $FONT_COLOR;

      svg:first-child {
        color: $FONT_COLOR;
        height: 12px;
        width: 12px;
      }
    }

  }

  .noneMenu {
    width: 100%;
    text-align: center;
    line-height: 40px;
  }
}
