@import '@/assets/css/index.scss';

.wrapper {
  cursor: pointer;
  width: 60px;
  height: 22px;
  line-height: 22px;
  color: $FONT_COLOR;
  text-align: center;
  transition: all;
  transition-duration: .3s;

  &:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .bar {
      width: 100%;
      margin-left: 0;
    }
  }

  &:active {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
}
