@import "@/assets/css/index.scss";

@media (width>$BREAK_POINT) {
  .wrapper {
    .header {
      height: 40px;
      padding-top: 8px;
      line-height: 32px;
      font: {
        size: 14.5px;
        weight: 600;
      }
    }

    .content {
      .singleWrapper {
        height: 56px;
        border-radius: 5px;
        padding: 0 12px;

        .info {
          padding: 0 10px;

          > div {
            line-height: 20.4px;
            font-weight: 500;
          }

          .title {
            font-size: 12.75px;
          }

          .text {
            font-size: 15.3px;
          }
        }

        > div:not(:nth-child(2)) {
          font-size: 20px;
          line-height: 56px;
        }
      }
    }

  }
}


@media (width <=$BREAK_POINT) {
  .wrapper {
    .header {
      height: 30px;
      line-height: 25px;
      padding-top: 5px;
      font: {
        size: 13px;
        weight: 600;
      }
    }

    .content {
      .singleWrapper {
        height: 50px;
        border-radius: 3px;
        font-size: 16px;
        padding: 0 9px;

        .info {
          padding: 0 10px;

          > div {
            line-height: 17px;
            font-weight: 400;
          }

          .title {
            font-size: 12px;
          }

          .text {
            font-size: 14.5px;
          }
        }

        > div:not(:nth-child(2)) {
          font-size: 18px;
          line-height: 50px;
        }
      }
    }
  }
}


@mixin singleList() {
  box-sizing: border-box;
  cursor: pointer;

  margin: 2px 0;
  display: flex;
  justify-content: flex-start;
  @include trans();

  &:hover {
    background-color: $THEME_COLOR;
  }


  .info {
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    > div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.wrapper {
  width: 100%;

  .header {
    box-sizing: border-box;
    color: $THEME_COLOR;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .singleWrapper {
      @include singleList;
    }
  }
}


// 黑暗模式

.listDark {
  .singleWrapper {
    background-color: $BACKGROUND_COLOR_DARK;
    color: $FONT_COLOR_DARK;

    > div:first-child {
      color: $FONT_COLOR_DARK;
    }

    > div:last-child {
      color: $BACKGROUND_COLOR_DARK;
    }

    &:hover {
      color: $BACKGROUND_COLOR_DARK;

      span {
        color: $BACKGROUND_COLOR_DARK;
      }
    }

    &:hover > div:first-child, &:hover .mark {
      color: $BACKGROUND_COLOR_DARK;
    }
  }

}

.listLight {
  .singleWrapper {
    background-color: $BACKGROUND_COLOR;
    color: $FONT_COLOR;

    > div:first-child {
      color: rgba(0, 0, 0, .4);
    }


    > div:last-child {
      color: #FFF;
    }

    &:hover {
      color: #FFF;

      span {
        color: #FFF;
      }
    }

    &:hover > div:first-child, &:hover .mark {
      color: #FFF;
    }
  }
}

// search history
.searchHistoryListWrapper {
  background-color: $THEME_COLOR !important;
}

.searchHistoryListWrapperLight {
  color: #FFF !important;

  > div:first-child {
    color: #FFF !important;
  }
}

.searchHistoryListWrapperDark {
  color: $BACKGROUND_COLOR_DARK !important;
}

.delHistory {
  display: flex;
  align-items: center;

  > div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;

    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }
  }
}




