@import "@/assets/css/index.scss";

.wrapper {
  @include boxShadow;
  border-radius: 5px;
  background-color: #FFF;
  padding-bottom: 20px;

  .header {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    > div {
      cursor: pointer;
      background: rgba(0, 0, 0, .1);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0 25px;
      line-height: 40px;
      text-align: center;
      transition: background-color .3s;
    }

    > div:first-child {
      background-color: $THEME_COLOR;
    }

    > div:not(:nth-child(2)) {
      > span {
        font-size: 18px;
      }
    }
  }

  .content {
    padding: 0 20px;

    > div:not(:first-child) {
      display: none;
    }

    > div {
      // 功能区
      @include setScrollBar(5px);
      animation: anime .5s;
      animation-fill-mode: forwards;

      > div:last-child {
        height: 500px;
        overflow-y: auto;
      }

      .statistic {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        > span:nth-child(2) {
          margin-left: 10px;
          font-size: 18px;
        }

        > span:last-child {
          font-size: 18px;
        }
      }
    }
  }
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}