.noneMenu {
  padding: 10px 20px;
}

.formWrapper {
  margin-top: 10px;
  border-radius: 5px;

  .selectBox {
    display: flex;
    justify-content: flex-start;
    line-height: 31px;
    overflow: hidden;
    height: 0;
    transition: height .2s;
    padding: 0 20px;
    margin-top: 30px;
  }

  .editInputWrapper, .addInputWrapper {
    height: 0;
    overflow: hidden;
    transition: height .3s;
  }
}

.editTagWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;

  .addTagBtn {
    margin-left: auto;
  }

  .editTagBtn {
    margin-right: 20px;
  }

}

