.noneMenu {
  padding: 10px 20px;
}

.formWrapper {
  margin-top: 10px;
  border-radius: 5px;

  .selectBox {
    height: 0;
    overflow: hidden;
    transition: height .2s;

    > div {
      display: flex;
      justify-content: flex-start;
      line-height: 31px;
      padding: 0 20px;
    }

    > div:first-child {
      margin-top: 30px;
    }

    > div:last-child {
      margin-top: 10px;
    }
  }

  .inputWrapper {
    height: 0;
    overflow: hidden;
    transition: height .3s;
  }
}

.editTagWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;

  .addTagBtn {
    margin-left: auto;

    > button:first-child {
      margin-right: 5px;
    }
  }

  .editTagBtn {
    margin-right: 20px;
  }

}

