@import '@/assets/css/index.scss';

.leftNav{
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  // 图片
  .leftNavIcon {
    width: 50px;
    height: 50px;
    margin: {
      left: 20px;
    }
    border: {
      radius: 50%;
    }
    background: {
      image: url('../../../assets/images/left-nav-icon.png');
      repeat: no-repeat;
      size: cover;
      clip: content-box;
    }
  }

  // 作者
  .leftNavAuth {
    text-align: center;
    color: $FONT_COLOR;
    font: {
      size: 22px;
      weight: bolder;
    }
    margin: {
      top: 13px;
    }
  }
}

