@import "@/assets/css/index.scss";

.tocHeader {
  @include unSelectable;
  margin: {
    bottom: 2vh;
  }

  > span:first-child {
    font: {
      size: 16px;
      weight: bold;
    }
  }

  > span:last-child {
    font: {
      size: 14px;
    }
  }
}



