@import "@/assets/css/index.scss";

.wrapper {
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin: 25px 0;
      background-color: rgba(0, 0, 0, .05);
    }

    .logoBox {
      height: 40px;

      .logo {
        @include backgroundImgStyle(0);
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }

      .blogInfo {
        float: left;
        line-height: 40px;
        font: {
          family: "Sans Serif Collection";
          size: 20px;
        }
      }
    }

    .tips {
      width: 100%;
      text-align: center;
      color: $FONT_COLOR_2;
      font: {
        family: "Sans Serif Collection";
        size: 16px;
      }
    }
  }
}