@import "@/assets/css/index.scss";
// thead颜色
$THEAD_COLOR_LIGHT: #fafafa;
$THEAD_COLOR_DARK: $BACKGROUND_COLOR_DARK_2;
// 底线颜色
$BORDER_BOTTOM_COLOR_DARK: rgba(255, 255, 255, .3);
$BORDER_BOTTOM_COLOR_LIGHT: rgba(0, 0, 0, .3);
// 分隔线颜色
$LINE_LIGHT: rgba(0, 0, 0, .05);
$LINE_DARK: rgba(255, 255, 255, .05);
@mixin trDarkUni {
  @include trans;
  background-color: $BACKGROUND_COLOR_DARK;
  color: $FONT_COLOR_DARK;
  > td {
    @include trans;
    background-color: $BACKGROUND_COLOR_DARK;
  }
  > td:not(:first-child) {
    border-color: $THEAD_COLOR_DARK !important;
  }
}

@mixin trLightUni {
  @include trans;
  background-color: $BACKGROUND_COLOR;
  color: $FONT_COLOR;
  > td {
    @include trans;
    background-color: $BACKGROUND_COLOR;
  }

  > td:not(:first-child) {
    border-color: $THEAD_COLOR_LIGHT !important;
  }
}


// 黑暗模式
.trDark {
  @include trDarkUni;

  &:hover {
    background-color: $THEAD_COLOR_DARK;
  }
}

.trLight {
  @include trLightUni;

  &:hover {
    background-color: $THEAD_COLOR_LIGHT;
  }
}

.trChildDark {
  @include trDarkUni;
}

.trChildLight {
  @include trLightUni;
}

.thDark {

  > th {
    @include trans;
    background-color: $THEAD_COLOR_DARK;
    color: $FONT_COLOR_DARK;
  }

  > th:not(:first-child):not(:nth-child(2))::before {
    @include trans;
    border-color: $LINE_DARK !important;
  }
}

.thLight {

  > th {
    @include trans;
    background-color: $THEAD_COLOR_LIGHT;
    color: $FONT_COLOR;
  }

  > th:not(:first-child):not(:nth-child(2))::before {
    @include trans;
    border-color: $LINE_LIGHT !important;
  }
}

@mixin trStyle() {
  width: 100%;

  > td:not(:first-child) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: center;
    border-bottom: 1px solid;
  }

  td {
    padding: 16px;
    line-height: 22px;
  }
}

.table {
  width: 100%;
  table-layout: fixed;
  @include unSelectable;

  .head {
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    > th {
      padding: 16px;
      line-height: 22px;
      font-weight: bold;
      text-align: start;
      vertical-align: center;
      position: relative;
    }

    > th:first-child {
      width: 54px;
      height: 54px;
    }

    > th:not(:first-child):not(:nth-child(2))::before {
      content: '';
      height: 22.4px;
      border-right: 1px solid;
      position: absolute;
      left: -1px;
    }
  }

  .tr {
    @include trStyle;
  }

  .childTr {
    @include trStyle;
  }

  .expandBtn {
    font-size: 18px;
    text-align: center;
    vertical-align: center;
    transition: color .3s;
    cursor: pointer;

    &:hover {
      color: $THEME_COLOR;
    }
  }
}

.actionBtn {
  > div {
    float: left;
    line-height: 22px;
    margin: 0 2px;
    transition: color .3s;
    cursor: pointer;
  }

  > div:first-child {
    font-size: 18px;

    &:hover {
      color: red;
    }
  }

  > div:nth-child(2) {
    &:hover {
      color: $THEME_COLOR
    }
  }


}

.editBtn {
  font-size: 12px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: $THEME_COLOR;
  }
}


.selectInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.addMain {
  margin: 10px 0;
  width: 100px;
}