@import "@/assets/css/index.scss";


@media (width > $BREAK_POINT) {

}

@media (width < $BREAK_POINT) {

}

// 黑暗模式
.dark {
  background-color: $BACKGROUND_COLOR_DARK_2;
  color: $FONT_COLOR_DARK;
}

.light {
  background-color: rgba(0, 0, 0, .03);
  color: $FONT_COLOR;

  &:hover {
    background-color: #FFF;

    .title {
      color: $FONT_COLOR;
    }
  }
}

.darkSearcher {
  background-color: $BACKGROUND_COLOR_DARK_2;
}

.lightSearcher {
  background-color: $BACKGROUND_COLOR;
}

.inputDark {
  > input {
    background-color: $BACKGROUND_COLOR_DARK_2;
    color: $FONT_COLOR_DARK;
  }
}

.inputLight {
  > input {
    background-color: $BACKGROUND_COLOR;
    color: $FONT_COLOR;
  }
}

.darkFont {
  @include trans();
  color: $FONT_COLOR_DARK;
}

.lightFont {
  @include trans();
  color: rgba(0, 0, 0, .4);
}

.wrapper {
  width: 133px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    outline: 2px solid $THEME_COLOR;
  }

  .icon {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .title {
    font-size: 16px;
    color: $FONT_COLOR_DARK;
  }
}


.searcher {
  background-color: rgba(0, 0, 0, .5); // 这个color不变
  position: fixed; /* 使用绝对布局，让div可以覆盖全屏 */
  z-index: $GRADE_GOD;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .searchBox {
    width: 560px;
    position: fixed;
    border-radius: 7px;
    z-index: calc($GRADE_GOD + 1);
    top: calc($TOP_HEADER_H + 20px);
    left: 0;
    right: 0;
    margin: 0 auto;

    .input {
      width: 100%;
      height: 68px;
      display: flex;
      justify-content: flex-start;
      position: relative;
      padding: {
        top: 12px;
        right: 12px;
        left: 12px;
      }

      > div:first-child {
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
        border: 2px solid $THEME_COLOR;
        border-right: none;
        border-radius: 3px 0 0 3px;

        > div {
          font-size: 24px;
          color: $THEME_COLOR;
        }
      }

      > div:last-child {
        position: absolute;
        right: 20px;
        top: 33px;
        cursor: pointer;
      }

      > input {
        outline: none;
        border: 2px solid $THEME_COLOR;
        border-radius: 0 3px 3px 0;
        border-left: none;
        font-size: 22px;
        width: 100%;
        height: 100%;
      }
    }

    .content {
      width: 100%;
      max-height: 488px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: {
        bottom: 20px;
        left: 12px;
        right: 12px;
      }

      .noContent {
        padding: 48px;
        text-align: center;
      }

      .noResult {
        padding: 48px;
        text-align: center;
        font-size: 20px;

        > div {
          padding: {
            top: 40px;
            bottom: 20px;
          }
        }
      }
    }

    .footer {
      width: 100%;
      height: 44px;
      padding: 0 12px;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > div {
        margin: 0 5px;
      }

      > div:first-child {
        color: $FONT_COLOR_DARK;
      }

      > div:last-child {
        color: $THEME_COLOR;
        font-weight: bold;
      }
    }
  }

}

.open {
  display: block;
}

.close {
  display: none;
}

.rotate {
  animation: rotate 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}