@import "@/assets/css/index.scss";
@import "@/pages/MainPage/mixin.scss";

@mixin universal() {
  .wrapper {
    height: 100%;
    @include setWrapper();
    //@include setSider();
    //@include setContent();

    .sider {
      overflow-y: auto;
      padding-bottom: 50px;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .content {
      padding-left: 10px;
      //overflow-y: auto;

      .editState {
        font-size: 1vw;
        padding: {
          top: 1vh;
        }

        a {
          color: $THEME_COLOR;
        }
      }

      .inputBox {
        width: 100%;
        padding: {
          top: 1vh;
        }
        // antd span
        > span:first-child {
          outline: none;
          border: none;
          box-shadow: none;
        }

        > div {
          width: 20vw;
          margin-top: 2vh;

          > div {
            border: none !important;
            box-shadow: none !important;
          }

          span {
            font-size: 1.2vw !important;
          }
        }
      }

      .editor {
        height: 60vh;
      }

      .submitBtn {
        margin: 2vw 0.5vw;

        > button {
          margin-right: 1vw
        }
      }
    }
  }
}


// 媒体查询
// <
@media (width <= $BREAK_POINT) {
  @include universal;
  .sider {
    display: none;
  }
  .content {
    width: 100%;
  }
}

// >
@media (width > $BREAK_POINT) {
  @include universal;
  .sider {
    width: 15vw;
  }

  .content {
    width: 66vw;
  }
}