@import "@/assets/css/index.scss";

.wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  > div {
    padding: 10px 0;
  }

  .tip {
    font-size: 18px;

    span {
      padding: 0 5px;
    }
  }

  .func {
    > * {
      margin: 0 5px;
    }
  }
}

@media (width <= $BREAK_POINT) {
  .editBtn {
    margin: 10px 5px !important;
  }
}