.wrapper {
  padding: {
    top: 20px;
    left: 20px;
  }
  width: 95%;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.comments {

  > div:not(:last-child)::after {
    content: " ";
    display: block;
    height: 1px;
    width: 80%;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, .03);

  }
}