@import '@/assets/css/index.scss';

// 字体设置
@font-face {
  font-family: 'Smiley_Sans_Oblique';
  src: url('./assets/font/Smiley_Sans_Oblique.ttf');
}

@font-face {
  font-family: 'Source_Han_Sans_SC_Normal';
  src: url('./assets/font/Source_Han_Sans_SC_Normal_Normal.otf');
}

body {
  overflow-x: hidden;
}

// 根样式
#root {
  color: $FONT_COLOR;
}

// 滚动条
::-webkit-scrollbar {
  //width: 0.5vw;
  width: 0;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $THEME_COLOR;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

// clearfix
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/***************** antd *******************/
.ant-dropdown-menu-item {
  padding: 0 !important;
}

// Information&ChangeInfo
.ant-drawer {
  border: none;
  outline: none;
}

// LoginForm
.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}


