@import './assets/css/index.scss';

// 字体设置
@font-face {
  font-family: "Smiley_Sans_Oblique";
  src: url('./assets/font/Smiley_Sans_Oblique.ttf');
}

// 滚动条
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $THEME_COLOR
}

::-webkit-scrollbar-track {
  background-color: #ddd
}


// clearfix
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}