@import '@/assets/css/index.scss';

// 字体设置
//@font-face {
//  font-family: 'Smiley_Sans_Oblique';
//  src: url('./assets/font/Smiley_Sans_Oblique.ttf');
//}

//body {
//  overflow: hidden;
//}

// 根样式
#root {
  color: $FONT_COLOR;
}

// 滚动条
::-webkit-scrollbar {
  //width: 5px;
  width: 0;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $THEME_COLOR;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

// clearfix
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/***************** antd *******************/
// Menu
.ant-menu-submenu-title, .ant-menu-item {
  height: 33px !important;
  margin: 2px !important;

  > span:first-child {
    font-size: 14px !important;
  }
}

// Anchor
.ant-anchor-link, .ant-anchor-link-title {
  color: rgba(0, 0, 0, .5) !important;
}

.ant-anchor-link-active, .ant-anchor-link-title-active {
  color: $THEME_COLOR !important;
}

.ant-dropdown-menu-item {
  padding: 0 !important;
}

// Information&ChangeInfo
.ant-drawer {
  border: none;
  outline: none;
}

// LoginForm
.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

// Table
.ant-table-expanded-row {
  .ant-table-cell {
    background-color: #FFF !important;
  }
}



