@import '@/assets/css/index.scss';

// 滚动条
::-webkit-scrollbar {
  //width: 5px;
  width: 0;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $THEME_COLOR;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

// clearfix
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/***************** antd *******************/
// TIMELINE
.ant-timeline-item-head {
  @include trans();
}

// Menu
.ant-menu-submenu-title, .ant-menu-item {
  height: 33px !important;
  margin: 2px !important;

  //> span:first-child {
  // line-height: 33px;
  // font-size: 14px !important;
  //}
}

.ant-dropdown-menu-item {
  padding: 0 !important;
}

// Information&ChangeInfo
.ant-drawer {
  border: none;
  outline: none;
}

// LoginForm
.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

// Table
.ant-table-expanded-row {
  .ant-table-cell {
    background-color: transparent !important;
  }
}



