@import "@/assets/css/index.scss";

.dark {
  color: $FONT_COLOR_DARK
}

.wrapper {
  padding: 10px 10px;
  overflow-x: hidden;

  .year {
    font: {
      size: 24px;
      weight: bold;
    }
  }

  .dot {
    width: 7px;
    height: 7px;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
  }

  .itemWrapper {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;

    &:hover {
      > span {
        color: #6c9dd5;
        transition: color .3s;
      }
    }

    .time {
      padding-top: 2px;
      min-width: 35px;
      margin-right: 10px;
      display: flex;
    }

    .title {
      width: 80%;
      font-size: 16px;
      display: block;
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}