@import "@/assets/css/index.scss";

.wrapper {
  padding: 10px 10px;

  * {
    transition-delay: 0s !important;
    transition-duration: .3s !important;
  }

  .year {
    font: {
      size: 24px;
      weight: bold;
    }
  }

  .dot {
    width: 7px;
    height: 7px;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition: background-color .5s;
  }

  .itemWrapper {
    cursor: pointer;

    &:hover {
      > span {
        color: #6c9dd5;
        transition: color .5s;
      }
    }

    .time {
      margin-right: 10px;
    }

    .title {
      font-size: 16px;
    }
  }
}