@import "@/assets/css/index.scss";
@import "@/pages/MainPage/mixin.scss";

.wrapper {
  @include setWrapper();
  @include setSider();

  .loadingAnime {
    height: 100%;
    width: 100%;
    padding: 15vh 20vw;
  }
}
