@import "@/assets/css/index.scss";
@import "@/pages/MainPage/mixin.scss";


@mixin universal() {
  .wrapper {
    @include setSider();
    @include setContent();
    overflow: hidden;

    .loadingAnime {
      height: 100%;
      width: 100%;
      padding: 15vh 20vw;
    }

    .content {
      overflow: hidden;
    }
  }
}

@media (width <= $BREAK_POINT) {
  @include universal;
  .toc {
    display: none;
  }

  .sider {
    display: none;
  }
  .content {
    width: 100%;
    padding: 0 2vw;
  }

  .mobileMenu {
    @include mobileMenu(45px, 45px);
  }
}

@media (width > $BREAK_POINT) {
  @include universal;
  .toc {
    width: 10vw;
    position: fixed;
    // 注意计算部分必须全部卸载calc内部不然会出错
    right: calc((100vw - $BREAK_POINT) * 0.45 - 11vw); // -11vw为自身容器大小，表示自身靠右的位置大小为content的{paddingRight-(自身width+1vw)}
    transition: right 0.5s; /* 添加过渡效果 */
    top: calc(50px + 5vh);
    z-index: $GRADE_MIDDLE;
  }

  .sider {
    position: fixed;
    z-index: $GRADE_TOP;
    width: 25vw;
    height: 100%;

    > div {
      overflow-y: auto;
      width: 240px;
      float: right;
      height: 100%;
      padding: {
        right: 1vw;
        top: 2vh;
        bottom: 10vh;
      }
    }
  }

  .content {
    overflow-x: hidden;
    transition: padding-right 0.5s; /* 添加过渡效果 */
    padding: {
      left: 25vw;
      right: calc((100vw - $BREAK_POINT) * 0.45); /* 初始 padding-right 值，以适应视窗宽度 */
    }
  }

  .mobileMenu {
    display: none;
  }
}



