@import "@/assets/css/index.scss";
@import "@/pages/MainPage/mixin.scss";

@mixin universal() {
  .wrapper {
    @include setWrapper();
    @include setSider();
    @include setContent();

    .loadingAnime {
      height: 100%;
      width: 100%;
      padding: 15vh 20vw;
    }

    .content {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .mobileMenu {
      position: fixed;
      bottom: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, .7);
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);
      border: {
        radius: 50%;
      };

      > div:first-child {
        position: absolute;
        left: 13px;
        top: 13px;
        font-size: 25px;
      }
    }
  }
}


@media (max-width: $BREAK_POINT) {
  @include universal;
  .sider {
    display: none;
  }
  .content {
    width: 100vw;
    padding: 0 2vw;
  }
}

@media (min-width: $BREAK_POINT) {
  @include universal;

  .content {
    width: 79vw;
    padding: {
      top: 5vh;
      left: 5vw;
    }
  }

  .sider {
    width: 21vw;
  }

  .mobileMenu {
    display: none;
  }
}



