@import "@/assets/css/index.scss";
@import "@/pages/MainPage/mixin.scss";

@mixin universal() {
  .wrapper {
    @include setWrapper();
    @include setSider();
    @include setContent();

    .loadingAnime {
      height: 100%;
      width: 100%;
      padding: 15vh 20vw;
    }

    .content {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .mobileMenu {
      @include mobileMenu();
    }
  }
}


@media (width <= $BREAK_POINT) {
  @include universal;
  .sider {
    display: none;
  }
  .content {
    width: 100vw;
    padding: 0 2vw;
  }
}

@media (width > $BREAK_POINT) {
  @include universal;

  .content {
    width: 79vw;
    padding: {
      top: 5vh;
      left: 5vw;
    }
  }

  .sider {
    width: 21vw;
  }

  .mobileMenu {
    display: none;
  }
}



