@import "@/assets/css/index.scss";

@mixin universal() {
  .wrapper {
    position: fixed;
    background: transparent;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    z-index: $GRADE_TOP;

    > svg {
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      fill: rgba(255, 255, 255, .7);
      border: {
        radius: 50%;
      };
    }

    .circle {
      transition: all .5s;
      transform: rotateZ(-90deg);
    }


    .icon {
      position: absolute;
      color: $THEME_COLOR;
    }
  }
}


@media (min-width: $BREAK_POINT) {
  @include universal;
  .wrapper {

    .circle {
      transform-origin: 30px 30px;
    }

    .icon {
      top: 13px;
      left: 12px;
      font-size: 35px;
    }

    bottom: 100px;
    right: 50px;
  }
}

@media (max-width: $BREAK_POINT) {
  @include universal;
  .wrapper {

    .circle {
      transform-origin: 22.5px 22.5px;
    }

    .icon {
      top: 10px;
      left: 10.5px;
      font-size: 25px;
    }

    bottom: 120px;
    right: 50px;

  }
}


