.ant-modal {
  width: 360px !important;

  .ant-modal-content {
    padding: 30px;
  }

  .ant-modal-footer {
    display: none;
  }
}

.ant-dropdown-menu-item {
  padding: 0 !important;
}

