@import "@/assets/css/index.scss";

.rightNav {
  min-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .themeMode {
    cursor: pointer;
    font-size: 24px;

    > span {
      transition: color .3s;
    }

    > span:hover {
      color: $THEME_COLOR;
    }
  }

  .logOut {
    color: $THEME_COLOR;
    margin: {
      left: 30px;
    }

  }

  .signWrapper {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    margin: {
      right: 5px;
    }
  }
}
