@import "@/assets/css/index.scss";

.rightNav {
  min-width: 110px;
  display: flex;
  justify-content: space-between;

  .logOut {
    color: $THEME_COLOR;
    margin: {
      top: 13px;
      left: 30px;
    }

  }

  .signWrapper {
    display: flex;
    justify-content: space-between;
    margin: {
      top: 13px;
      right: 5px;
    }
  }
}
