.right-nav {
  min-width: 160px;
  display: flex;
  justify-content: space-between;
  > div {
    margin: {
      top: 13px;
    }
  }

  .avator-box {
    margin: {
      top: 7px;
      right: 5px;
    }
  }
}
