@import "@/assets/css/index.scss";

.rightNavPC {
  min-width: 160px;
  display: flex;
  justify-content: space-between;

  > div:not(:last-child) {
    margin: {
      top: 13px;
    }
  }

  .rightNavAvatorPC {
    width: 40px;
    height: 40px;
    @include backgroundImgStyle;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: {
      top: 5px;
      right: 10px;
    }
  }
}
