@import "@/assets/css/index.scss";

@mixin mobileMenu($width,$height) {
  position: fixed;
  bottom: 180px;
  right: 50px;
  width: $width;
  height: $height;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border: {
    radius: 50%;
  };

  > div:first-child {
    position: absolute;
    left: 11px;
    top: 11px;
    font-size: 24px;
  }
}

@mixin setWrapper($s_width:21vw,$c_width:79vw) {
  background-color: #FFF;
  overflow: hidden;
  @include setScrollBar(5px);
  > div {
    float: left;
  }
}

@mixin setSider() {
  .sider {
    //box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    //z-index: $GRADE_MIDDLE;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@mixin setContent() {
  .content {
    box-sizing: border-box;
  }
}

@mixin setTop() {
  .backWhite {
    width: 100%;
    height: $TOP_HEADER_H;
    background-color: #FFF;
  }
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}