@import "../../assets/css/index";

@mixin setWrapper($s_width:21vw,$c_width:79vw) {
  background-color: #FFF;
  overflow: hidden;
  animation: show .7s;
  @include setScrollBar(0.3vw);
  > div {
    float: left;
  }

}

@mixin setSider() {
  .sider {
    z-index: $GRADE_MIDDLE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    height: 100%;
    overflow-y: auto;
    padding: {
      top: 5vh;
      left: 2vw;
      right: 2vw;
    }
  }
}

@mixin setContent() {
  .content {
    box-sizing: border-box;
    font: {
      family: Source_Han_Sans_SC_Normal;
    }
  }
}

@mixin setTop() {
  .backWhite {
    width: 100%;
    height: $TOP_HEADER_H;
    background-color: #FFF;
  }
}

@keyframes show {
  from {
    height: 0;
  }
  to {
    height: 95vh;
  }
}
